@include media(">=desktop") {
    .flexContainer {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .mapControls {
        // n.b. relative units might be better on more devices
        min-width: $mapControlsWidth;
        width: $mapControlsWidth;
        transition: 0.3s linear all;
    }

    .mapContainer {
        display: flex;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: $mapWidth;
        flex-direction: column;
        overflow-x: hidden;

        .hiddenContent {
            height: 0;
            opacity: 0;
            overflow: hidden;
        }

        .displayContent {
            opacity: 1;
            overflow: scroll;
        }

        .sideInfoDisplayWrapper {
            position: absolute;
            right: 0;
            top: 80px;
            z-index: 100;
            border: solid 3px #fff;
            background-color: #fff;
            max-height: calc(100% - 230px);
            overflow: auto;

            &::-webkit-scrollbar-thumb {
                background: steelblue;
            }

            &::-webkit-scrollbar {
                width: 7px;
            }

            .sideInfoDisplay {
                padding: 5px;
                width: 270px;
                overflow-wrap: break-word;
                word-wrap: break-word;
                -ms-word-break: break-all;
                word-break: break-word;
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
                hyphens: auto;
                overflow: hidden;

                h3 {
                    padding: 20px 0;
                    margin: 0;
                    border-bottom: 1px solid #ce5c00;
                }

                img {
                    max-width: 100%;
                }

                p {
                    display: block;
                }

                .boldItalic {
                    font-weight: bold;

                    &.startDate {
                        margin-bottom: 0;
                    }

                    &.endDate {
                        margin-top: 0;
                    }

                    &.description {
                        span {
                            display: block;
                        }
                    }

                    span,
                    a {
                        font-style: italic;
                    }
                    span {
                        font-weight: normal;
                    }
                }
            }
        }

        .map {
            height: $mapHeight;
            position: absolute;
            top: 80px;
            // 6.5 * $standard-height + $standard-border;
            bottom: 0;
            width: $mapWidth;
        }

        .mapboxgl-canvas {
            width: 100% !important;
        }
    }
}
