@import "include-media.scss";
@import "general.scss";
@import "slider.scss";
@include media(">=desktop") {
  .flexContainer {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    width: 100%; 
  }

  .mapControls  {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25vw;
  }

  .mapContainer {
    display: flex; 
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 75vw;
    flex-direction: column;

    .sideInfoDisplay {
      z-index: 2;
      position: absolute;
      right: 1em;
      background-color:#ffff7f;
      border: solid #FFFFFF 3px;
      padding: 0.5em;
      width: auto;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      margin-top: 1em;

      p {
        line-height: 2em;
        display: block;
      }

      .bold {
        font-weight: 700;
        font-style: italic; 
      }

    }

    .map {
      height: $mapHeight;
      position: absolute;
      top: 8 * $standard-height + $standard-border;
      bottom: 0;
      width: 75vw;
    }

    .mapboxgl-canvas {
      width: 100% !important; 
    }
  }
}

@include media("<=tablet") {
  .flexContainer {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 100%; 
  }

  .timelineSlider {
    margin-top: 60vh;
  }

  .mapControls  {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25vw;
    flex-direction: column;
  }

  .mapContainer {
    display: flex; 
    flex-grow: 1;
    position: relative; 

    .datePanel {
      margin-top: 3em;
      right: auto; 
      bottom: auto;
      float: left;
    }

    .map {
      height: $mapHeight;
      position: absolute;
      top: 8 * $standard-height + $standard-border;
      bottom: 0;
      width: 100%;
    }
  }
}