body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  overflow-x: hidden;
}

dialog {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.9);
  border-style: none;
  border-radius: 0.4em;
  font-weight: 300;
  padding: 1em;

  .close {
    float: right; 
    font-size: 1.5em;
    cursor: pointer;
  }
}

h4 {
  color: #23374d;
  font-weight: bold;
  font-size: 17px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 1px solid #ce5c00;
  padding-bottom: 1em;
}

a {
  font-weight: 700;
  color: #ce5c00;
}

.mainBody {
  height: $mapHeight;
  border-bottom: 2px solid #b0691d;
}

.editLayer, .deleteLayer {
  cursor: pointer;
}

.highlight  {
  animation: bounce .3s linear;
  border: #0f0 solid 2px;
  accent-color: #0f0;
  font-style: italic; 
  line-break: anywhere;
}

.hoverPopUp {
  background-color: rgba(255, 255, 0, 0.5);
  border: solid #FFFF00 2px;
  padding-left: 5px;
  padding-right: 5px;
}

.mapboxgl-popup-content {
  padding: 0px !important;
}

.mapControls::-webkit-scrollbar-thumb {
  background: steelblue;
}

.mapControls::-webkit-scrollbar {
  width: 7px;
}

.mapboxgl-ctrl-zoom-in {
  background-image: "url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E);"
}

.hiddenControls {
  margin-left: -$mapControlsWidth;
  opacity: 0;
  transition: 0.3s linear all;
}

.hideMenuTab {
  position: absolute;
  top: 88px;
  left: $mapControlsWidth;
  z-index: 500;
  cursor: pointer;
  height: 51px;
  transition: 0.3s linear all;
}

.mapControls {
  min-width: $mapControlsWidth;
  max-height: $mapHeight;
  opacity: 1; 
  overflow-y: scroll;
  transition: 0.3s linear all;

  .mapControlsLink {
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin: auto;
    display: block;
  }

  .mapControlsLink::before {
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f0ac";
    color: #555;
    margin-right: 1em; 
  }
  
  .layerform, .styleform {
    overflow: scroll !important;
    margin: 0.5em;
    background: #eee;
    padding: 0.5em;
    border: solid 2px;
    border-radius: 0.5em;
    max-height: 25vh;
  }

  .hiddenContent {
    height: 0;
    opacity: 0;
    transition: 0.2s linear all;
    overflow: hidden;
  }
  
  .hiddenZoom {
    pointer-events: none;
    height: 0;
    opacity: 0;
    transition: 0.2s linear all;
  }
  
  .displayContent {
    height: auto;
    opacity: 1;
    overflow: visible;
  }

  .featureGroupName .displayContent {
    margin-left: 1em;
  }

  .layerControls {
    display: inline-block;
    padding: 0 1em;

    a {
      text-decoration: none;
    }

    i {
      transition: transform .2s;
      font-size: 14px;
    }

    label {
      font-size: 14px;
    }

    i:hover {
      opacity: 0.7;
      transform: scale(1.2);
    }

    input[type='checkbox'] {
      cursor: pointer;
    }

    h4 {
      margin: 1em 0 0.5em;
      padding-bottom: 0.5em;
      text-transform: uppercase;
    }

    .informationSquareIcon {
      color: #e3ed58;
    }

    .zoomToFeatureGroup, .zoomToLayer, .easeToPoint {
      cursor: pointer;
      color: #1d43de;
      // padding-left: 1em;
      float: right;
    }

    .layer, .borough {
      width: calc(100% - 1em);
      height: auto;
      width: 100%; 
    }

    .boroughName {
      text-align: center;
    }

    .featureGroupName {
      text-align: left;
    }
    
    .toggleInfo {
      float: right;
      color: rgb(119, 119, 119);
      cursor: pointer;
    }

    .featureGroup.layersInArea {
      overflow: hidden;
    }

    .toggleVisibility {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      cursor: pointer;
      // keep it above any hidden content that might capture clicks
      z-index: 1000;
      position: relative;
      color: #555;
      padding-right: 0.5em;
    }

    .layerToggle {
      border-bottom: 1px solid #ce5c00;
      padding-bottom: 2.5em;
    }
  }
}

.topMenu {
  // flex-grow: 0; 
  // flex-shrink: 0;
  // flex-basis: 8 * $standard-height;
  flex-direction: row;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-basis: 84px;
  width: 100%;
  border-bottom: $standard-border solid #b0691d;
  align-items: center;

  * > {
    vertical-align: middle;
  }

  .buttonContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 0.5em;
  }

  .about  {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    border: solid black;
    font-weight: bold;
    margin-top: 3px;
    margin: 3px;
    font-family: "Arial";
    cursor: pointer; 
  }

  a.encyclopedia {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    border: solid black;
    font-weight: bold;
    margin-top: 3px;
    margin: 3px;
    font-family: "Arial";
    background-color: #e8e1da;
    cursor: pointer; 

    img {
      vertical-align: text-top;
      padding-left: 2px;
      height: 18px;
      width: 18px; 
    }
  }

  #logo-img-wide {
    max-height: 70px;
    padding: 0.25em 0.25em 0.25em 21px;
  }

  .headerText {
    display: inline-block;
    //margin-top: 2 * $standard-height;
    text-shadow: #717c9b 0px 1px 3px;
    font-size: 1.7em;
    //2 * $standard-height;
    font-family: 'Consolas';
    flex-basis: 100%;
  }
}

.feature {
  padding-left: 1em;
}

.typeBoxText {
  margin-left: 2em;
  font-style: italic; 
}

.datePanel {
  position: absolute;
  background-color: #3887be;
  border: black solid 0.1em;
  border-radius: 0.5em;
  font-size: 34px;
  color: white;
  float: right;
  bottom: 3em;
  right: 1em;
  padding: 0.3em;
}

