body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

.flexContainer {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  width: 100%; 

  .row {
    display: flex; 
    flex-direction: row;
  }

  .topMenu {
    flex-grow: 0; 
    flex-shrink: 0;
    flex-basis: 15vh;
    height: 3em; 
    width: 100%;
    border-bottom: 2px solid #b0691d;

    .headerText {
      display: inline-block;
      margin-top: 19px;
      text-shadow: #717c9b 0px 1px 3px;
      font-size: 1.7em;
      margin-left: 10em;
      margin-left: 10px;
      font-family: 'Consolas';
      margin-bottom: 21px;
    }
  }

  .mainBody {
    margin: 0.5em;
    
    .mapControls  {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 25vw;
  
      h4 {
        color: #23374d;
        font-weight: bold;
        font-size: 17px;
        padding-bottom: 8px;
        text-align: center;
        border-bottom: 1px solid #ce5c00;
        margin-bottom: 8px;
        text-transform: 'uppercase';
      }
  
      .feature {
        padding-left: 1em;
      }
  
      .hiddenContent {
        height: 0;
        opacity: 0;
        transition: 0.2s linear all;
      }
  
      .displayContent {
        height: 1em;
        opacity: 1;
        margin: 0.3em; 
      }
  
      .toggleFeatureVisibility {
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
      }

      .typeBoxText {
        margin-left: 2em;
        font-style: italic; 
      }

    }
  
    .mapContainer {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 75vw;
    }
  }
}
