.timelineSlider {
  height: 2.7em;
  background-color: rgb(209, 236, 255); 
  border-radius: 0.5em;
  border: 1px solid #666;
  font-family: Segoe UI,Arial,sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  text-align: left;
  margin-top: 10px;
  position: absolute;
  width: calc(100% - 2em);
  margin: 1em;
  bottom: 0;

  .timeline {
    display: flex;
    position: relative;
    border-bottom: 2px darkorange solid;
    padding: 10px 0;
    width: 100%;
    bottom: 5px;
  }
  
  .year {
    flex: 0 1 20vw;
    text-align: center;
    position: relative; 
  }
  
  .year::after {
    content: '';
    display: block;
    width: 50%;
    position: absolute;
    height: 5px;
    bottom: -10px;
    right: 0px;
    background: linear-gradient(to right,rgba(0,0,0,0) 90%,darkorange 95%,rgba(0,0,0,0) 100%);
    background-size: auto;
    background-size: calc(100%/5) calc(100%/5);
    background-size: -o-calc(100%/5) -o-calc(100%/5);
    background-size: -moz-calc(100%/5) -moz-calc(100%/5);
    background-size: -webkit-calc(100%/5) -webkit-calc(100%/5);
  }
  
  .year::before {
    content: '';
    display: block;
    width: 50%;
    position: absolute;
    height: 5px;
    bottom: -10px;
    left: 0px;
    background: linear-gradient(to right,rgba(0,0,0,0) 90%,darkorange 95%,rgba(0,0,0,0) 100%);
      background-size: auto;
    background-size: calc(100%/5) calc(100%/5);
    background-size: -o-calc(100%/5) -o-calc(100%/5);
    background-size: -moz-calc(100%/5) -moz-calc(100%/5);
    background-size: -webkit-calc(100%/5) -webkit-calc(100%/5);
  }
  
  .yearCarat::before {
    content: '';
    display: block;
    width: 50%;
    position: absolute;
    height: 10px;
    bottom: -10px;
    left: 0px;
    background: linear-gradient(to right,rgba(0,0,0,0) 95%,darkorange 100%,rgba(0,0,0,0) 100%);
    background-size: auto;
    background-size: 100% 100%;
  }
  
  .sliderHandle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 3.3em;
    top: -.3em;
    top: -5px;
    background-color: #555;
    border: 1px solid #666;
    border-radius: 0.5em;
    cursor: pointer;
    overflow: scroll;
    left: calc(50% - 12px); 
  }
  
  .sliderHandle:hover {
    border: 1px solid #59b4d4;
    background-color: #0078a3;
  }
  
  .sliderHandle:active {
    cursor: grab;
  }
  
  .redSlider {
    background-color: #f00;  
  }
  
  .timeLineText {
    font-weight: 800;
    position: absolute;
    top: 0;
  }

  .left {
    left: 43%; 
  }

  .right {
    right: 43%; 
  }
}