include ./layerToggle.pug
doctype html
-{layers}
-console.log(layers)
html(lang="en-EU" xml:lang="en-EU")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name="theme-color" content="#3366cc")
    link(rel="stylesheet" href='/static/concatenatedCSS/master.css' async)
    link(rel='stylesheet' href='https://npmcdn.com/leaflet@1.0.0-rc.2/dist/leaflet.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  body
    .flexContainer
      .topMenu
      .row 
        .mapControls
          h4 Layers
          each layer, name in layers
            +layerToggle(layer, name)

        .map
          #before.map
          #after.map
      //
        h1 History map:
        #mapControls
          button save
          button edit


  footer
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.51.0/mapbox-gl.js')
    script(src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-compare/v0.1.0/mapbox-gl-compare.js')
    script(src='https://api.mapbox.com/mapbox.js/v3.1.1/mapbox.js')
    script(src='/static/concatenatedJS/master.js')
    -// script(src='/static/js/events.js')
    -// script(src='/static/js/mapFunctions.js')