@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Source Sans 3", sans-serif;
  margin: 0;
  overflow-x: hidden; }

dialog {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.9);
  border-style: transparent;
  border-radius: 0.4em;
  font-weight: 400;
  outline: none;
  border-color: transparent;
  padding: 13px 15px 15px; }
  dialog .close {
    float: right;
    font-size: 1.5em;
    cursor: pointer; }
  dialog h2 {
    min-height: 35px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 0; }
  dialog p,
  dialog div {
    line-height: 20px; }
  dialog p {
    margin: 5px 0; }
  dialog div {
    margin: 5px 0 0; }
  dialog .node__content .text-formatted {
    padding: 15px; }

h4 {
  color: #23374d;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  border-bottom: 1px solid #ce5c00; }

a {
  font-weight: 700;
  color: #ce5c00; }

.mainBody {
  height: calc(100vh - 148px);
  border-bottom: 2px solid #b0691d; }

.editLayer,
.deleteLayer {
  cursor: pointer; }

.highlight {
  animation: bounce 0.3s linear;
  border: #0f0 solid 2px;
  accent-color: #0f0;
  font-style: italic;
  line-break: anywhere; }

.mapboxgl-ctrl-bottom-left {
  bottom: 7px !important;
  right: 630px !important;
  left: unset !important; }

.mapboxgl-ctrl-logo {
  display: none !important; }

.mapboxgl-ctrl-bottom-left .mapboxgl-ctrl {
  display: flex; }

.hoverPopUp {
  background-color: rgba(255, 255, 0, 0.5);
  border: solid #ffff00 2px;
  padding-left: 5px;
  padding-right: 5px; }

.mapboxgl-popup-content .hoverPopUp {
  background-color: rgba(255, 255, 0, 0.5);
  border: solid #ffff00 2px;
  text-align: center; }
  .mapboxgl-popup-content .hoverPopUp.red {
    background-color: rgba(255, 192, 203, 0.3);
    border: solid pink 2px; }
  .mapboxgl-popup-content .hoverPopUp p {
    margin: 0; }

.infoLayerFarmsPopUp {
  font-size: 40px !important; }

.mapboxgl-popup-content .mapboxgl-popup-close-button {
  display: none !important; }

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-top-color: #f15b28 !important; }

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-bottom-color: #f15b28 !important; }

.mapboxgl-popup-content {
  padding: 0px !important; }

.mapControls::-webkit-scrollbar-thumb {
  background: steelblue; }

.mapControls::-webkit-scrollbar {
  width: 7px; }

.mapControls::-webkit-scrollbar-track {
  background: #f1f1f1; }

.mapboxgl-ctrl-zoom-in {
  background-image: "url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E);"; }

.hiddenControls {
  min-width: 0px !important;
  width: 0px !important;
  padding: 0px !important;
  opacity: 0;
  transition: 0.3s linear all; }

.hideMenuTab {
  position: absolute;
  top: 88px;
  left: 337px;
  z-index: 500;
  cursor: pointer;
  height: 54px; }

.mapControls {
  min-width: 325px;
  max-height: calc(100vh - 148px);
  padding: 10px 2px 10px 10px;
  opacity: 1;
  overflow-y: scroll;
  transition: 0.3s linear all; }
  .mapControls .mapControlsLink {
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin: auto auto 10px;
    display: block; }
  .mapControls .mapControlsLink::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0ac";
    color: #555;
    margin-right: 1em; }
  .mapControls .layerform,
  .mapControls .styleform {
    overflow: scroll !important;
    margin: 0.5em;
    background: #eee;
    padding: 0.5em;
    border: solid 2px;
    border-radius: 0.5em;
    max-height: 25vh; }
  .mapControls .hiddenContent {
    height: 0;
    opacity: 0;
    transition: 0.2s linear all;
    overflow: hidden; }
  .mapControls .hiddenZoom {
    pointer-events: none;
    height: 0;
    opacity: 0;
    transition: 0.2s linear all; }
  .mapControls .displayContent {
    height: auto;
    opacity: 1;
    overflow: visible; }
  .mapControls .featureGroupName .displayContent .layer {
    padding-left: 1.2em; }
  .mapControls .featureGroupName .displayContent i {
    margin-right: 3px; }
    .mapControls .featureGroupName .displayContent i:last-of-type {
      font-size: 16px;
      margin-right: 3px; }
    .mapControls .featureGroupName .displayContent i.slash-icon {
      font-size: 11px; }
  .mapControls .layerControls .layerToggle:first-child .borough {
    margin: 0; }
  .mapControls .layerControls .layerToggle:first-child h4 {
    margin-bottom: 25px; }
  .mapControls .layerControls .borough {
    margin: 0 0 10px; }
    .mapControls .layerControls .borough:first-child {
      margin: 0; }
    .mapControls .layerControls .borough * > h4 {
      font-weight: bold;
      font-size: 16px; }
  .mapControls .layerControls a {
    text-decoration: none; }
  .mapControls .layerControls i {
    transition: transform 0.2s;
    font-size: 16px; }
  .mapControls .layerControls label {
    font-size: 16px; }
  .mapControls .layerControls i:hover {
    opacity: 0.7; }
  .mapControls .layerControls input[type="checkbox"] {
    cursor: pointer;
    margin-right: 6px; }
  .mapControls .layerControls h4 {
    padding-bottom: 8px;
    line-height: 21px;
    text-align: center;
    margin: 6px 0 8px;
    text-transform: uppercase; }
  .mapControls .layerControls .informationSquareIcon {
    color: #e3ed58; }
  .mapControls .layerControls .zoomToFeatureGroup,
  .mapControls .layerControls .zoomToLayer,
  .mapControls .layerControls .easeToPoint {
    cursor: pointer;
    color: #1d43de;
    float: right;
    margin-right: 6px; }
  .mapControls .layerControls .layer,
  .mapControls .layerControls .borough {
    width: calc(100% - 1em);
    height: auto;
    width: 100%; }
  .mapControls .layerControls .boroughName {
    text-align: center; }
    .mapControls .layerControls .boroughName > b {
      line-height: 20px; }
    .mapControls .layerControls .boroughName > i {
      padding-right: 6px; }
  .mapControls .layerControls .featureGroupName {
    text-align: left; }
    .mapControls .layerControls .featureGroupName i:first-child {
      margin: 2px 5px 0 0; }
  .mapControls .layerControls .toggleInfo {
    float: right;
    color: #777777;
    cursor: pointer;
    margin-right: 3px;
    margin-left: 3px; }
  .mapControls .layerControls .featureGroup.layersInArea {
    line-height: 20px;
    overflow: hidden; }
  .mapControls .layerControls .featureGroup i.fa-circle {
    padding-right: 2px; }
  .mapControls .layerControls .featureGroup i:last-of-type {
    margin-right: 3px; }
  .mapControls .layerControls .toggleVisibility {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    cursor: pointer;
    z-index: 1000;
    position: relative;
    color: #555;
    padding-right: 4px; }
  .mapControls .layerControls .layerToggle {
    border-bottom: 1px solid #ce5c00;
    padding-bottom: 2.5em; }

.topMenu {
  flex-direction: row;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-basis: 84px;
  width: 100%;
  border-bottom: 2px solid #b0691d;
  align-items: center; }
  .topMenu * > {
    vertical-align: middle; }
  .topMenu .buttonContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 0.5em; }
  .topMenu .about {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    border: solid black;
    font-weight: bold;
    margin-top: 3px;
    margin: 3px;
    font-family: "Arial";
    cursor: pointer; }
  .topMenu a.encyclopedia {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    border: solid black;
    font-weight: bold;
    margin-top: 3px;
    margin: 3px;
    font-family: "Arial";
    background-color: #e8e1da;
    cursor: pointer; }
    .topMenu a.encyclopedia img {
      vertical-align: text-top;
      padding-left: 2px;
      height: 18px;
      width: 18px; }
  .topMenu #logo-img-wide {
    max-height: 70px;
    padding: 0.25em 0.25em 0.25em 21px; }
  .topMenu .headerText {
    display: inline-block;
    text-shadow: #717c9b 0px 1px 3px;
    font-size: 1.7em;
    font-family: "Consolas";
    flex-basis: 100%;
    margin-left: 6px;
    margin-bottom: 13px; }

.feature {
  padding-left: 1em; }

.typeBoxText {
  margin-left: 2em;
  font-style: italic; }

.datePanel {
  font-weight: bold;
  position: absolute;
  background-color: #3887be;
  border: black solid 0.11764705882em;
  border-radius: 0.2em;
  font-size: 34px;
  color: white;
  float: right;
  bottom: 2.35em;
  text-align: right;
  right: 0.6em;
  padding: 2px 0.4em; }

.styleToggle > *:last-child {
  margin-bottom: 0; }

@media (min-width: 1024px) {
  .flexContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
  .mapControls {
    min-width: 325px;
    width: 325px;
    transition: 0.3s linear all; }
  .mapContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100vw;
    flex-direction: column;
    overflow-x: hidden; }
    .mapContainer .hiddenContent {
      height: 0;
      opacity: 0;
      overflow: hidden; }
    .mapContainer .displayContent {
      opacity: 1;
      overflow: scroll; }
    .mapContainer .sideInfoDisplayWrapper {
      position: absolute;
      right: 0;
      top: 80px;
      z-index: 100;
      border: solid 3px #fff;
      background-color: #fff;
      max-height: calc(100% - 230px);
      overflow: auto; }
      .mapContainer .sideInfoDisplayWrapper::-webkit-scrollbar-thumb {
        background: steelblue; }
      .mapContainer .sideInfoDisplayWrapper::-webkit-scrollbar {
        width: 7px; }
      .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay {
        padding: 5px;
        width: 270px;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-word;
        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
        overflow: hidden; }
        .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay h3 {
          padding: 20px 0;
          margin: 0;
          border-bottom: 1px solid #ce5c00; }
        .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay img {
          max-width: 100%; }
        .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay p {
          display: block; }
        .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay .boldItalic {
          font-weight: bold; }
          .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay .boldItalic.startDate {
            margin-bottom: 0; }
          .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay .boldItalic.endDate {
            margin-top: 0; }
          .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay .boldItalic.description span {
            display: block; }
          .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay .boldItalic span,
          .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay .boldItalic a {
            font-style: italic; }
          .mapContainer .sideInfoDisplayWrapper .sideInfoDisplay .boldItalic span {
            font-weight: normal; }
    .mapContainer .map {
      height: calc(100vh - 148px);
      position: absolute;
      top: 80px;
      bottom: 0;
      width: 100vw; }
    .mapContainer .mapboxgl-canvas {
      width: 100% !important; } }

@media (max-width: 768px) {
  .flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
  .timelineSlider {
    margin-top: 60vh; }
  .mapControls {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25vw;
    flex-direction: column; }
  .mapContainer {
    display: flex;
    flex-grow: 1;
    position: relative; }
    .mapContainer .datePanel {
      margin-top: 3em;
      right: auto;
      bottom: auto;
      float: left; }
    .mapContainer .map {
      height: calc(100vh - 148px);
      position: absolute;
      top: 98px;
      bottom: 0;
      width: 100%; } }

@media (max-width: 1023px) {
  .mapContainer .sideInfoDisplayWrapper {
    display: none; } }

.timelineSlider {
  height: 2.5em;
  background-color: #d1ecff;
  border-radius: 6px;
  border: 1px solid #666;
  font-family: Segoe UI, Arial, sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  text-align: left;
  margin-top: 10px;
  position: absolute;
  width: calc(100% - 2em);
  margin: 0.6em 0.8em;
  bottom: 0; }
  .timelineSlider:hover {
    background-color: #baddf9; }
  .timelineSlider .timeline {
    display: flex;
    position: relative;
    border-bottom: 2px darkorange solid;
    padding: 10px 0 7px;
    width: 100%;
    bottom: 5px; }
  .timelineSlider .timeline > * {
    pointer-events: none; }
  .timelineSlider .year {
    flex: 0 1 20vw;
    text-align: center;
    position: relative;
    padding-right: 5px;
    font-size: 16.5px;
    padding-bottom: 6px; }
    .timelineSlider .year.hide {
      color: transparent; }
  .timelineSlider .year::after {
    content: "";
    display: block;
    width: 50%;
    position: absolute;
    height: 5px;
    bottom: -8px;
    right: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 90%, darkorange 95%, rgba(0, 0, 0, 0) 100%);
    background-size: auto;
    background-size: calc(100% / 5) calc(100% / 5);
    background-size: -o-calc(100%/5) -o-calc(100%/5);
    background-size: -moz-calc(100%/5) -moz-calc(100%/5);
    background-size: -webkit-calc(100%/5) -webkit-calc(100%/5); }
  .timelineSlider .year::before {
    content: "";
    display: block;
    width: 50%;
    position: absolute;
    height: 5px;
    bottom: -8px;
    left: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 90%, darkorange 95%, rgba(0, 0, 0, 0) 100%);
    background-size: auto;
    background-size: calc(100% / 5) calc(100% / 5);
    background-size: -o-calc(100%/5) -o-calc(100%/5);
    background-size: -moz-calc(100%/5) -moz-calc(100%/5);
    background-size: -webkit-calc(100%/5) -webkit-calc(100%/5); }
  .timelineSlider .yearCarat::before {
    content: "";
    display: block;
    width: 50%;
    position: absolute;
    height: 10px;
    bottom: -8px;
    left: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 95%, darkorange 100%, rgba(0, 0, 0, 0) 100%);
    background-size: auto;
    background-size: 100% 100%; }
  .timelineSlider .sliderHandle {
    position: absolute;
    background: #555555 url("../time-slide-icon.png") 50% 50% repeat-x;
    z-index: 2;
    width: 1.1em;
    height: 3em;
    top: -0.3em;
    top: -5px;
    border: 1px solid #666;
    border-radius: 0.4em;
    cursor: pointer;
    overflow: scroll;
    left: calc(50% - 12px);
    overflow: visible; }
  .timelineSlider .sliderHandle:hover {
    border: 1px solid #59b4d4;
    background: #0078a3; }
  .timelineSlider .sliderHandle:active {
    border: 1px solid #ffaf0f;
    background: #f58400;
    cursor: grab; }
  .timelineSlider .redSlider {
    background: red; }
  .timelineSlider .timeLineText {
    pointer-events: none;
    font-weight: 800;
    font-size: 16.5px;
    position: absolute;
    top: 5px;
    word-spacing: 9px; }
  .timelineSlider .timeLineText.hide {
    color: transparent; }
  .timelineSlider .left {
    left: calc(50% - 92px); }
  .timelineSlider .right {
    right: calc(50% - 98px); }

.admin {
  background-color: #ff8f8f; }

.login, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle; }

.clickPopupAdmin {
  overflow: scroll; }

/*# sourceMappingURL=scssDerived.css.map */