body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  overflow-x: hidden; }

dialog {
  max-width: 700px;
  background-color: rgba(255, 255, 255, 0.9);
  border-style: none;
  border-radius: 0.4em;
  font-weight: 300;
  padding: 1em; }
  dialog .close {
    float: right;
    font-size: 1.5em;
    cursor: pointer; }

h4 {
  color: #23374d;
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  border-bottom: 1px solid #ce5c00;
  padding-bottom: 1em; }

a {
  font-weight: 700;
  color: #ce5c00; }

.mainBody {
  height: calc(100vh - 164px);
  border-bottom: 2px solid #b0691d; }

.editLayer,
.deleteLayer {
  cursor: pointer; }

.highlight {
  animation: bounce 0.3s linear;
  border: #0f0 solid 2px;
  accent-color: #0f0;
  font-style: italic;
  line-break: anywhere; }

.hoverPopUp {
  background-color: rgba(255, 255, 0, 0.5);
  border: solid #ffff00 2px;
  padding-left: 5px;
  padding-right: 5px; }

.mapboxgl-popup-content {
  padding: 0px !important; }

.mapControls::-webkit-scrollbar-thumb {
  background: steelblue; }

.mapControls::-webkit-scrollbar {
  width: 7px; }

.mapControls::-webkit-scrollbar-track {
  background: #f1f1f1; }

.mapboxgl-ctrl-zoom-in {
  background-image: "url(data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 29 29'%3E%3Cpath d='M14.5 8.5c-.75 0-1.5.75-1.5 1.5v3h-3c-.75 0-1.5.75-1.5 1.5S9.25 16 10 16h3v3c0 .75.75 1.5 1.5 1.5S16 19.75 16 19v-3h3c.75 0 1.5-.75 1.5-1.5S19.75 13 19 13h-3v-3c0-.75-.75-1.5-1.5-1.5z'/%3E%3C/svg%3E);"; }

.hiddenControls {
  min-width: 0px !important;
  width: 0px !important;
  opacity: 0;
  transition: 0.3s linear all; }

.hideMenuTab {
  position: absolute;
  top: 88px;
  left: 325px;
  z-index: 500;
  cursor: pointer;
  height: 51px; }

.mapControls {
  min-width: 325px;
  max-height: calc(100vh - 164px);
  opacity: 1;
  overflow-y: scroll;
  transition: 0.3s linear all; }
  .mapControls .mapControlsLink {
    padding: 0.5em 1em;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    margin: auto;
    display: block; }
  .mapControls .mapControlsLink::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f0ac";
    color: #555;
    margin-right: 1em; }
  .mapControls .layerform,
  .mapControls .styleform {
    overflow: scroll !important;
    margin: 0.5em;
    background: #eee;
    padding: 0.5em;
    border: solid 2px;
    border-radius: 0.5em;
    max-height: 25vh; }
  .mapControls .hiddenContent {
    height: 0;
    opacity: 0;
    transition: 0.2s linear all;
    overflow: hidden; }
  .mapControls .hiddenZoom {
    pointer-events: none;
    height: 0;
    opacity: 0;
    transition: 0.2s linear all; }
  .mapControls .displayContent {
    height: auto;
    opacity: 1;
    overflow: visible; }
  .mapControls .featureGroupName .displayContent {
    margin-left: 1em; }
  .mapControls .layerControls {
    padding: 0 0 10px 10px; }
    .mapControls .layerControls a {
      text-decoration: none; }
    .mapControls .layerControls i {
      transition: transform 0.2s;
      font-size: 14px; }
    .mapControls .layerControls label {
      font-size: 14px; }
    .mapControls .layerControls i:hover {
      opacity: 0.7; }
    .mapControls .layerControls input[type="checkbox"] {
      cursor: pointer; }
    .mapControls .layerControls h4 {
      margin: 1em 0 0.5em;
      padding-bottom: 0.5em;
      text-transform: uppercase; }
      .mapControls .layerControls h4:first-child {
        margin: 1em 0 1.5em; }
    .mapControls .layerControls .informationSquareIcon {
      color: #e3ed58; }
    .mapControls .layerControls .zoomToFeatureGroup,
    .mapControls .layerControls .zoomToLayer,
    .mapControls .layerControls .easeToPoint {
      cursor: pointer;
      color: #1d43de;
      float: right; }
    .mapControls .layerControls .layer,
    .mapControls .layerControls .borough {
      width: calc(100% - 1em);
      height: auto;
      width: 100%; }
    .mapControls .layerControls .boroughName {
      text-align: center;
      padding: 0 5px 0; }
    .mapControls .layerControls .featureGroupName {
      text-align: left; }
    .mapControls .layerControls .toggleInfo {
      float: right;
      color: #777777;
      cursor: pointer; }
    .mapControls .layerControls .featureGroup.layersInArea {
      overflow: hidden; }
    .mapControls .layerControls .toggleVisibility {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
      cursor: pointer;
      z-index: 1000;
      position: relative;
      color: #555;
      padding-right: 0.5em; }
    .mapControls .layerControls .layerToggle {
      border-bottom: 1px solid #ce5c00;
      padding-bottom: 2.5em; }

.topMenu {
  flex-direction: row;
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-basis: 84px;
  width: 100%;
  border-bottom: 2px solid #b0691d;
  align-items: center; }
  .topMenu * > {
    vertical-align: middle; }
  .topMenu .buttonContainer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 0.5em; }
  .topMenu .about {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    border: solid black;
    font-weight: bold;
    margin-top: 3px;
    margin: 3px;
    font-family: "Arial";
    cursor: pointer; }
  .topMenu a.encyclopedia {
    float: left;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    line-height: 25px;
    border-radius: 4px;
    border: solid black;
    font-weight: bold;
    margin-top: 3px;
    margin: 3px;
    font-family: "Arial";
    background-color: #e8e1da;
    cursor: pointer; }
    .topMenu a.encyclopedia img {
      vertical-align: text-top;
      padding-left: 2px;
      height: 18px;
      width: 18px; }
  .topMenu #logo-img-wide {
    max-height: 70px;
    padding: 0.25em 0.25em 0.25em 21px; }
  .topMenu .headerText {
    display: inline-block;
    text-shadow: #717c9b 0px 1px 3px;
    font-size: 1.7em;
    font-family: "Consolas";
    flex-basis: 100%; }

.feature {
  padding-left: 1em; }

.typeBoxText {
  margin-left: 2em;
  font-style: italic; }

.datePanel {
  position: absolute;
  background-color: #3887be;
  border: black solid 0.1em;
  border-radius: 0.5em;
  font-size: 34px;
  color: white;
  float: right;
  bottom: 3em;
  right: 1em;
  padding: 0.3em; }

@media (min-width: 1024px) {
  .flexContainer {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    width: 100%; }
  .mapControls {
    min-width: 325px;
    width: 325px;
    transition: 0.3s linear all; }
  .mapContainer {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100vw;
    flex-direction: column;
    overflow-x: hidden; }
    .mapContainer .hiddenContent {
      height: 0;
      opacity: 0;
      overflow: hidden; }
    .mapContainer .displayContent {
      max-height: 76vh;
      opacity: 1;
      overflow: scroll; }
    .mapContainer .sideInfoDisplay::-webkit-scrollbar-thumb {
      background: steelblue; }
    .mapContainer .sideInfoDisplay::-webkit-scrollbar {
      width: 7px; }
    .mapContainer .sideInfoDisplay {
      z-index: 3;
      width: 33vw;
      transition: 0.2s linear all;
      position: absolute;
      right: 1em;
      background-color: #ffff7f;
      border: solid #ffffff 3px;
      padding: 0.5em;
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      margin-top: 1em;
      overflow-x: hidden; }
      .mapContainer .sideInfoDisplay img {
        max-width: 100%; }
      .mapContainer .sideInfoDisplay p {
        line-height: 2em;
        display: block; }
      .mapContainer .sideInfoDisplay .boldItalic {
        font-weight: bold; }
        .mapContainer .sideInfoDisplay .boldItalic span,
        .mapContainer .sideInfoDisplay .boldItalic a {
          font-style: italic; }
        .mapContainer .sideInfoDisplay .boldItalic span {
          font-weight: normal; }
    .mapContainer .map {
      height: calc(100vh - 164px);
      position: absolute;
      top: 80px;
      bottom: 0;
      width: 100vw; }
    .mapContainer .mapboxgl-canvas {
      width: 100% !important; } }

@media (max-width: 768px) {
  .flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%; }
  .timelineSlider {
    margin-top: 60vh; }
  .mapControls {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 25vw;
    flex-direction: column; }
  .mapContainer {
    display: flex;
    flex-grow: 1;
    position: relative; }
    .mapContainer .datePanel {
      margin-top: 3em;
      right: auto;
      bottom: auto;
      float: left; }
    .mapContainer .map {
      height: calc(100vh - 164px);
      position: absolute;
      top: 98px;
      bottom: 0;
      width: 100%; } }

.timelineSlider {
  height: 2.7em;
  background-color: #d1ecff;
  border-radius: 0.5em;
  border: 1px solid #666;
  font-family: Segoe UI,Arial,sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  text-align: left;
  margin-top: 10px;
  position: absolute;
  width: calc(100% - 2em);
  margin: 1em;
  bottom: 0; }
  .timelineSlider .timeline {
    display: flex;
    position: relative;
    border-bottom: 2px darkorange solid;
    padding: 10px 0;
    width: 100%;
    bottom: 5px; }
  .timelineSlider .timeline > * {
    pointer-events: none; }
  .timelineSlider .year {
    flex: 0 1 20vw;
    text-align: center;
    position: relative;
    padding-right: 5px; }
  .timelineSlider .year::after {
    content: '';
    display: block;
    width: 50%;
    position: absolute;
    height: 5px;
    bottom: -10px;
    right: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 90%, darkorange 95%, rgba(0, 0, 0, 0) 100%);
    background-size: auto;
    background-size: calc(100%/5) calc(100%/5);
    background-size: -o-calc(100%/5) -o-calc(100%/5);
    background-size: -moz-calc(100%/5) -moz-calc(100%/5);
    background-size: -webkit-calc(100%/5) -webkit-calc(100%/5); }
  .timelineSlider .year::before {
    content: '';
    display: block;
    width: 50%;
    position: absolute;
    height: 5px;
    bottom: -10px;
    left: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 90%, darkorange 95%, rgba(0, 0, 0, 0) 100%);
    background-size: auto;
    background-size: calc(100%/5) calc(100%/5);
    background-size: -o-calc(100%/5) -o-calc(100%/5);
    background-size: -moz-calc(100%/5) -moz-calc(100%/5);
    background-size: -webkit-calc(100%/5) -webkit-calc(100%/5); }
  .timelineSlider .yearCarat::before {
    content: '';
    display: block;
    width: 50%;
    position: absolute;
    height: 10px;
    bottom: -10px;
    left: 0px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 95%, darkorange 100%, rgba(0, 0, 0, 0) 100%);
    background-size: auto;
    background-size: 100% 100%; }
  .timelineSlider .sliderHandle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 3.3em;
    top: -.3em;
    top: -5px;
    background-color: #555;
    border: 1px solid #666;
    border-radius: 0.5em;
    cursor: pointer;
    overflow: scroll;
    left: calc(50% - 12px);
    overflow: visible; }
  .timelineSlider .sliderHandle:hover {
    border: 1px solid #59b4d4;
    background-color: #0078a3; }
  .timelineSlider .sliderHandle:active {
    cursor: grab; }
  .timelineSlider .redSlider {
    background-color: #f00; }
  .timelineSlider .timeLineText {
    font-weight: 800;
    position: absolute;
    top: 0; }
  .timelineSlider .left {
    left: 40%; }
  .timelineSlider .right {
    right: 40%; }

.admin {
  background-color: #ff8f8f; }

.login, form {
  display: flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle; }

.clickPopupAdmin {
  overflow: scroll; }

/*# sourceMappingURL=scssDerived.css.map */